input{
    margin-left: 1em;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btnLimpiar{
    margin: 1em;
}
.seleccionada{
    background-color: grey;
}
h3{
    padding: 0.5em;
    margin: 0.1em;
}
